.container{
    min-width:550px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap:30px;
    box-shadow:1px 1px 4px rgba(0,0,0,0.12) ;
    padding-top: 5px;
    height: fit-content;
}
.header{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    border-bottom:1px solid rgba(0,0,0,0.1) ;
}
.header::-webkit-scrollbar{
    height: 7px;
    border-radius: 50px;
}
.header::-webkit-scrollbar-thumb{
    background-color: rgb(165,165,165);
}

.header .section{
    padding: 10px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
}
.header .active{
    border-bottom: 2px solid #239ce2;
    color:#239ce2 ;
}
.body{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 0;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.detail .row{
    display: flex;
    gap: 20px;
}
.detail .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detail .row > div{
    flex: 1;
}
.chips{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.chip{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    background-color: #808080;
    border-radius: 20px;
    padding: 7px;
}
.chip p{
    font-weight: 500;
    line-height:1.25rem ;
    color: white;
}
.chip svg{
    color: white;
    height: 18px;
    width: 18px;
}
.chips .active{
    background-color: #287b94;
}
.chips .new{
    color:#287b94;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.body button{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #287b94;
    color: white;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: 300ms;
}
.body button:hover{
    background-color: #307185;
}
.body button:active{
    transform: translateY(3px);
}
@media only screen and (max-width: 767px) {

    .container{
        min-width: 100vw;
        width: 100vw;
        
    }
    .detail .row{
        flex-direction: column;
    }
   
}