.container{
    padding:50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    background-color: #dbeff1;
    height: 80vh;
}
.heading{
    margin: 0 auto;
    max-width: 550px;
    color:#000;
    font-size: 3.1rem;
    line-height: 4rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.heading span{
    background-clip: text;
    background-image: linear-gradient(to right,#24a6dd,#1369b9);
    color: transparent;

}
.right img{
   width: 400px;
   /* max-width:40% */
}

@media only screen and (max-width: 767px) {
    .right{
        display: none;

    }
    .left{
        width: 100%;
    }
}